html{
scroll-behavior:smooth;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{margin:0;background:#fff;color:#111}
.page-title{text-align:center;margin:50px 0;font-size:2.6rem}
.center-text{text-align:center;font-size:1.1rem}
.nav-links a{

padding:12px 22px;

border-radius:40px;

transition:.35s;

}

.nav-links a:hover{

background:#E10600;

color:white;

}
.nav a{color:white;text-decoration:none;font-weight:bold}
.logo{height:28px}
.nav ul li a:hover {
  color: white;
  background: rgb(208, 12, 12);
  border-radius: 8px;
}
body{ font-family:'Poppins',sans-serif; }
.navbar{

position:sticky;

top:0;

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 60px;

background:#111;

border-bottom:4px solid #E10600;

z-index:999;

}