html{
scroll-behavior:smooth;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{margin:0;background:#fff;color:#111}
.page-title{text-align:center;margin:50px 0;font-size:2.6rem}
.center-text{text-align:center;font-size:1.1rem}
.nav-links a{

padding:12px 22px;

border-radius:40px;

transition:.35s;

}

.nav-links a:hover{

background:#E10600;

color:white;

}
.nav a{color:white;text-decoration:none;font-weight:bold}
.logo{

height:42px;

width:auto;

display:block;

}
.nav-links{

display:flex;

gap:35px;

list-style:none;

align-items:center;

}
.nav-links li{

list-style:none;

}
.nav ul li a:hover {
  color: white;
  background: rgb(208, 12, 12);
  border-radius: 8px;
}
body{ font-family:'Poppins',sans-serif; }
.navbar{

position:sticky;

top:0;

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 60px;

background:#111;

border-bottom:4px solid #E10600;

z-index:999;

}
footer{

background:#111;

color:white;

padding:60px 80px;

margin-top:70px;

}
.footer-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:60px;

}

.footer-grid a{
  color:white;

 text-decoration:none;

 display:block;

 margin:10px 0;

 transition:.3s;
}
.footer-grid a:hover{

color:#E10600;

}

footer hr{

margin:35px 0;

border:none;

height:1px;

background:#444;

}

.copyright{

text-align:center;

font-size:15px;

color:#bbb;

line-height:1.8;

}

.footer-column h3{
    color:#E10600;
    margin-bottom:18px;
    font-size:22px;
}

.footer-column p{
    color:#d4d4d4;
    line-height:1.8;
    margin-bottom:10px;
}

.footer-column a{
    display:block;
    color:white;
    text-decoration:none;
    margin:12px 0;
    transition:.3s;
}

.footer-column a:hover{
    color:#E10600;
    padding-left:8px;
}