body{background-color: black;}
.hero{ height:100vh; margin-top:82px; background:url("../images/Car.png") center/cover no-repeat; position:relative; display:flex; justify-content:center; align-items:center;}
.hero::before{content:""; position:absolute; inset:0; background:linear-gradient( rgba(0,0,0,.55),rgba(0,0,0,.65));}
.hero-overlay{

position:relative;

z-index:5;

text-align:center;

width:75%;

color:white;

}
.hero-overlay h1{font-size:92px; font-weight:800; letter-spacing:6px;; letter-spacing:5px; margin-bottom:15px; text-transform:uppercase;}
.hero-overlay h2{

    font-size:32px;

    color:#E10600;

    margin-bottom:20px;

}
.hero-overlay p{

    font-size:20px;

    line-height:1.7;

    max-width:750px;

    margin:auto;

    margin-bottom:40px;

}
.hero-buttons{

    display:flex;

    justify-content:center;

    gap:25px;

}
.hero-buttons{

    display:flex;

    justify-content:center;

    gap:25px;

}
.btn-primary{

background:#E10600;

padding:18px 42px;

border-radius:50px;

font-size:18px;

box-shadow:0 8px 25px rgba(225,6,0,.35);

}
.btn-primary:hover{
    transform:translateY(-5px);
    
    box-shadow:0 15px 35px rgba(225,6,0,.45);
}
.btn-secondary{

    border:2px solid white;

    color:white;

    text-decoration:none;

    padding:15px 35px;

    border-radius:50px;

    transition:.35s;

    font-weight:bold;

}
.btn-secondary:hover{

    background:#E10600;

    border-color:#E10600;

    color:white;

    color:black;

}
.scroll-down{

    margin-top:70px;

    color:white;

    font-size:18px;

    animation:float 1.6s infinite;

}
.home-news{font-size:30px; padding:40px}
.home-news h2{font-size:36px; color: white}
.news-grid{display:grid;grid-template-columns:repeat(3,1fr);gap:20px;}
.news-card{

background:white;

border-radius:18px;

overflow:hidden;

box-shadow:0 15px 30px rgba(0,0,0,.15);

transition:.35s;

}
.news-card img{

width:100%;

height:240px;

object-fit:cover;

}
.news-card:hover{

transform:translateY(-12px);

}
.news-card ~p{
    background: url('../images/Max\ Verstppen\ Quali.png')
}
/* RED DIVIDER */
.red-divider {
  width: 100%;
  height: 6px;
  background: #e10600; /* F1 Red */
}
.divider{
    font-size: 18px;
    text-align: right;
    width: 100%;
  height: 50px;
  background: #e10600; /* F1 Red */
}
/* NAVBAR LAYOUT */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e10600;
  padding: 14px 40px;
}

/* LEFT SIDE (LOGO + NAME) */
.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  height: 34px;
}

/* SITE NAME */
.site-name {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(12px);

}

100%{

transform:translateY(0);

}

}